<a href="https://colab.research.google.com/github/k-gorshkov/New/blob/main/%D0%97%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D1%8F_%D0%B2_%D0%98%D0%BD%D0%BD%D0%BE%D0%BF%D0%BE%D0%BB%D0%B8%D1%81%D0%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [4]:
1+1

2

In [ ]:
data = pd.read_csv("http://intersyn.net/Churn.csv")

In [ ]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2.0,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1.0,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8.0,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1.0,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2.0,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5.0,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10.0,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7.0,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3.0,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,NaN,130142.79,1,1,0,38190.78,0

In [ ]:
data = pd.read_excel("Russia.xlsx")

In [ ]:
data

,Наименование,Средняя продолжительность жизни ЖЕНЩИН,"Младенческая смертность, число детей, умерших в возрасте до 1 года, на 1000 родившихся живыми",Заболеваемость на 1000 человек населения,Численность населения на одну больничную койку,"Уровень безработицы населения в возрасте 15-72 лет, %","Численность студентов, обучающихся по программам бакалавриата, специалитета, магистратуры на 10 000 человек населения, всего","Среднемесячная номинальная начисленная заработная плата работников организаций, руб.",Кол-во преступлений (наркотики) на 1000 человек,Кол-во преступлений экономической направленности на 1000 человек,"Выявлено лиц, совершивших преступления в состоянии алкогольного опьянения на 1000 человек"
0,Алтайский край,75.16,4.8,987.5,110.0,5.9,216,30072,0.797099,0.425091,3.743387
1,Амурская область,72.79,5.4,807.1,105.3,6.0,185,52430,1.511308,0.506301,3.698528
2,Архангельская область без автономного округа,77.01,3.2,945.6,123.7,7.4,160,55891,0.363412,0.862303,3.259723
3,Астраханская область,76.35,5.8,608.3,115.4,7.8,294,38885,0.934596,0.725803,2.305669
4,Белгородская область,77.12,3.8,714.0,143.9,4.9,300,37442,0.418939,0.395701,1.299421
...,...,...,...,...,...,...,...,...,...,...,...
80,Чеченская Республика,74.65,6.1,309.0,158.9,18.5,227,29771,0.294848,0.384114,0.100086
81,Чувашская Республика — Чувашия,76.84,2.1,828.1,117.0,6.1,285,31844,0.828531,0.915572,1.789266
82,Чукотский автономный округ,68.81,14.7,1182.2,77.6,4.4,28,120641,0.218740,1.034044,5.229876
83,Ямало-Ненецкий автономный округ,76.21,3.6,1249.4,131.8,2.4,7,111216,0.543674,0.444490,2.935104
84,Ярославская область,76.19,3.7,818.6,109.2,7.3,252,37820,0.361420,0.568060,1.844599